/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

.header{
    display: block;
    padding: 5px;
    position: relative;
    top: 10px;
    font-size: 15px
    }

h1{
    font-family: 'Satisfy', cursive;
    color: blue;
    }
     
h5{
     font-family: 'Satisfy', cursive;
     color: black;
     }

