.header{
  display: block;
  padding: 1px;
  position: relative;
  font-size: 15px;
  }

h1{
  font-family: 'Satisfy', cursive;
  color: blue;
  }

.logo-title{
  font-family: 'Satisfy', cursive;
  color: blue;
  font-size: 35px;
}

.middleText{
  font-family: 'Satisfy', cursive;
  color: black;
  font-size: 18px;
}
   
h5{
   font-family: 'Satisfy', cursive;
   color: black;
   }
h2{
  text-align: center;
  font-family : Agency FB;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal1 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal2 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

label {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 0;
  display: inline-block;
  font-family: Agency FB;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

#content {
  width: 100%;
  margin-top: 6px;
  background-color: rgb(241, 241, 241);;
  height:500px;

}

#content1 {
  width: 80%;
  margin-top: 6px;
  background-color: rgb(241, 241, 241);;
  height:30px;
  justify-content: center;
}

.submit-btn {
  background: green;
  color:white;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 95%;               
  background-color:rgba(0, 0, 0, 0.226);
  height: 1px;
  margin-left: 10px;
}

.sign-up-input{
  width: 88%;
  background-color: lightgray;
  padding: 10px;
  border: none;
  margin-left: 10px;
}

.sign-in-input{
  width: 88%;
  background-color: lightgray;
  padding: 10px;
  border: none;
  margin-left: 10px;
}

.new-signup{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.sign-up-href{
  text-decoration-line: none;
}

.container{
  padding: 10px 5px 10px 5px;
}

.myBtn1{
  background-color:blue;
  border: none;
  color: white;
  padding: 15px;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  float: right;
  position: relative;
  top:-100px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
 
  .modal1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
 
  label {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
    display: inline-block;
  }
 
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 #content {
    width: 100%;
    margin-top: 6px;
    background-color: lightgrey;
    height:500px;

 }

 #content1 {
    width: 80%;
    margin-top: 6px;
    background-color: lightgrey;
    height:30px;

 }
 
 .submit-btn {
    background: green;
    color:white;
    padding: 1%;
    font-size: 15px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
 }
