body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

.button {
   background-color:blue;
   border: none;
   color: white;
   padding: 15px 32px;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   float: right;
   position: relative;
   top:-120px;
 }

 .postButtons{
   display:block;
   margin:auto;
   position:absolute;
   top: 42%;
   left:42%;
 }
 
 .button1{
   background-color: rgb(207, 181, 59);
   padding: 10px;
   font: 1em sans-serif;
   font-weight:bold;
   height: 40px;
   margin: 5px;
   text-align: center;
 }

 #content-post {
  width: 100%;
  margin-top: 6px;
  background-color: rgb(241, 241, 241);;
  height:300px;

}

.modal-content-post {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* Set a style for the rest of the elements besides the header elements on the index.html page */
                                 
