body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

.button {
   background-color:blue;
   border: none;
   color: white;
   padding: 15px 32px;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   float: right;
   position: relative;
   top:-120px;
 }

.button1{
   display: inline;
   background-color: yellow;
   position: relative;
   text-align: center;
   font-size: 18px;
   padding: 5px 5px;
   left:800px;
   top:300px;
   cursor: pointer;
}

/* Set a style for the rest of the elements besides the header elements on the index.html page */
                                 
